.mainContainer {
    height: 90vh;
    width: 100vw;
}

.theBackground {
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* default */
    width: inherit;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% center;
    max-height: 100vh;
    height: 100vh;
}

@media (min-width: 650px) {
    .theBackground {
        background-position: center center;
    }
}



