.imgContainer {
    width: 100%;
    padding-bottom: 56.25%;
    position: relative;
    background: #fff;
}

.imgContainer > img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
}

